// Path to assets for use with file-url()
$path: "/suppliers/opportunities/static/images/";

// GOV.UK Design System (compatible with old toolkit/elements)
$govuk-assets-path: '/suppliers/opportunities/static/';
$govuk-images-path: '/suppliers/opportunities/static/images/';
$govuk-fonts-path: '/suppliers/opportunities/static/fonts/';
// $govuk-global-styles Only affects the font colour of <a> without govuk-link class
// and padding/font size of any <p> without govuk-body classname
// https://frontend.design-system.service.gov.uk/sass-api-reference/#govuk-global-styles
$govuk-global-styles: true;
@import "node_modules/govuk-frontend/govuk/all";

// Digital Marketplace Components
@import "node_modules/digitalmarketplace-govuk-frontend/digitalmarketplace/all";

// Overrides
@import "overrides/_hint";
@import "overrides/_dm-table";
@import "overrides/_summary-list";
