// Reset styles on core HTML elements that might be injected by eg a user's browser, so that we have a known clean base
// for DM styles to build on.
@import "shared_scss/_reset.scss";

// GOVUK Front-end toolkit variables, mixins and functions
@import "_typography.scss";     // Core bold and heading mixins
@import "_url-helpers.scss";

// Path to assets for use with file-url()
$path: "/suppliers/opportunities/static/images/";

// Digital Marketplace Front-end toolkit shared CSS placeholders used by other DM toolkit styles
@import "toolkit/shared_placeholders/_dm-typography.scss";
@import "toolkit/shared_placeholders/_mixins.scss";
@import "toolkit/shared_placeholders/_placeholders.scss";
@import "toolkit/shared_placeholders/_temporary-messages.scss";

// Digital Marketplace Front-end toolkit shared styles between multiple apps
@import "shared_scss/_lists.scss";
@import "shared_scss/_dmspeak.scss";

// Digital Marketplace Front-end toolkit styles (only import the files you need)
@import "toolkit/_browse-list.scss";
@import "toolkit/_digital-marketplace-colours.scss";
@import "toolkit/_instruction-list.scss";
@import "toolkit/_notification-banners.scss";
@import "toolkit/_proposition-header.scss";
@import "toolkit/_report-a-problem.scss";
@import "toolkit/_temporary-message.scss";
@import "toolkit/forms/_hint.scss";
@import "toolkit/forms/_pricing.scss";
@import "toolkit/forms/_questions.scss";
@import "toolkit/forms/_selection-buttons.scss";
@import "toolkit/forms/_summary.scss";
@import "toolkit/forms/_textboxes.scss";
@import "toolkit/forms/_upload.scss";
@import "toolkit/forms/_validation.scss";
@import "toolkit/forms/_combinations.scss";
@import "toolkit/forms/_checkbox-tree.scss";
@import "toolkit/forms/_word-counter.scss";
@import "toolkit/forms/_list-entry.scss";

// GOV.UK Design System (compatible with old toolkit/elements)
$govuk-assets-path: '/suppliers/opporunities/static/';
$govuk-images-path: '/suppliers/opportunities/static/images/';
$govuk-fonts-path: '/suppliers/opportunities/static/fonts/';
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
@import "node_modules/digitalmarketplace-govuk-frontend/govuk-frontend/all";

// App specific styles
@import "_brief-response.scss";
@import "_footer.scss";

// Overrides
@import "overrides/_notification-banner";
@import "overrides/_page_headings";

// Misc styles
// TODO: Move misc styling into their own partial files or the Digital Marketplace FE Toolkit
#wrapper, .wrapper {
  @extend %site-width-container;
}

#content {
  @extend %contain-floats;
  clear: both;
  margin-bottom: $gutter * 2;
}

.padding-bottom-small {
  padding-bottom: 10px;
}
