{% extends "_base_page.html" %}

{% block pageTitle %}
  Opportunities Overview - Digital Marketplace
{% endblock %}

{% block breadcrumb %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account"
      },
      {
        "text": "Opportunities Overview"
      },
    ]
  }) }}

{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your {{ framework.name }} opportunities</h1>
    </div>
  </div>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ url_for('external.list_opportunities', framework_family=framework.family) }}">
      Search for other opportunities
    </a>
  </p>
  
  {% if drafts is not defined or not drafts|length %}
    <h2 class="govuk-heading-m">Applications you’ve started</h2>
    <p class="govuk-body">You don’t have any draft applications</p>
  {% else %}
    {{ govukTable({
      "attributes": { "id": "draft-opportunities" },
      "caption": "Applications you’ve started",
      "captionClasses": "govuk-heading-m",
      "head": [
        { "text": "Application" },
        { "text": "Deadline" },
        { "text": "Status" },
        { "text": "" }
      ],
      "rows": drafts|sort(attribute="1.attributes.data-closed")
    })}}
  {% endif %}
  
  {% if completed is not defined or not completed|length %}
    <h2 class="govuk-heading-m">Applications you’ve made</h2>
    <p class="govuk-body">You haven’t applied to any opportunities</p>
  {% else %}
    {{ govukTable({
      "attributes": { "id": "submitted-opportunities" },
      "caption": "Applications you’ve made",
      "captionClasses": "govuk-heading-m",
      "head": [
        { "text": "Application" },
        { "text": "Deadline" },
        { "text": "Status" }
      ],
      "rows": completed|sort(attribute="1.attributes.data-closed", reverse=True)
    })}}
  {% endif %}

{% endblock %}
