{% extends "toolkit/layouts/_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Opportunities Overview - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
    {
        "link": "/",
        "label": "Digital Marketplace"
    },
    {
        "link": url_for("external.supplier_dashboard"),
        "label": "Your account"
    }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

    <div class="grid-row">

        <div class="column-two-thirds">
            {% with
                heading = 'Your {} opportunities'.format(framework.name),
                smaller = True
            %}
            {% include 'toolkit/page-heading.html' %}
            {% endwith %}
        </div>
    </div>

  <p>
    <a href={{ "/{}/opportunities".format(framework.framework) }}>
      Search for other opportunities
    </a>
  </p>

{{ summary.heading("Applications you’ve started", id="draft-opportunities") }}
{% call(item) summary.list_table(
    drafts|sort(attribute='brief.applicationsClosedAt'),
    caption="Draft opportunities",
    empty_message="You don’t have any draft applications",
    field_headings=[
        "Application",
        "Deadline",
        "Status",
        summary.hidden_field_heading("Complete your draft application")
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {% call summary.field(first=True) %}
            {{ item.brief.title }}
        {% endcall %}
        {{ summary.text(item.brief.applicationsClosedAt|dateformat) }}
        {{ summary.text("Draft") }}
        {% with url =
            url_for('.check_brief_response_answers', brief_id=item.briefId, brief_response_id=item.id) if item.essentialRequirementsMet else
            url_for('.start_brief_response', brief_id=item.briefId)
        %}
            {% call summary.field(action=True) %}
                <a href="{{ url }}">Complete your application</a>
            {% endcall %}
        {% endwith %}
    {% endcall %}
{% endcall %}

{{ summary.heading("Applications you’ve made", id="submitted-opportunities") }}
{% call(item) summary.list_table(
    completed|sort(attribute='brief.applicationsClosedAt', reverse=True),
    caption="Completed opportunities",
    empty_message="You haven’t applied to any opportunities",
    field_headings=[
        "Application",
        "Deadline",
        "Status",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {% call summary.field(first=True, wide=True) %}
            <a href="{{ url_for('.check_brief_response_answers', brief_id=item.briefId, brief_response_id=item.id) }}">{{ item.brief.title }}</a>
        {% endcall %}
        {{ summary.text(item.brief.applicationsClosedAt|dateformat) }}
        {% if item.brief.status == "cancelled" %}
            {{ summary.text('Opportunity cancelled') }}
        {% elif item.brief.status == "unsuccessful" %}
            {{ summary.text('Not won') }}
        {% elif item.brief.status == "withdrawn" %}
            {{ summary.text('Opportunity withdrawn') }}
        {% elif item.brief.status == "closed" or item.brief.status == "live" %}
            {{ summary.text('Submitted') }}
        {% elif item.status == "awarded" %}
            {{ summary.text('Won') }}
        {% elif item.brief.status == "awarded" %}
            {{ summary.text('Not won') }}
        {% endif %}
    {% endcall %}
{% endcall %}

{% endblock %}
