{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Opportunities Overview - Digital Marketplace{% endblock %}

{% block breadcrumb %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account"
      },
      {
        "text": "Opportunities Overview"
      },
    ]
  }) }}

{% endblock %}

{% block main_content %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Your {{ framework.name }} opportunities</h1>
        </div>
    </div>

  <p class="govuk-body"></p>
    <a class="govuk-link" href="{{ url_for('external.list_opportunities', framework_family=framework.family) }}">
      Search for other opportunities
    </a>
  </p>

{{ summary.heading("Applications you’ve started", id="draft-opportunities") }}
{% call(item) summary.list_table(
    drafts|sort(attribute='brief.applicationsClosedAt'),
    caption="Draft opportunities",
    empty_message="You don’t have any draft applications",
    field_headings=[
        "Application",
        "Deadline",
        "Status",
        summary.hidden_field_heading("Complete your draft application")
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {% call summary.field(first=True) %}
            {{ item.brief.title }}
        {% endcall %}
        {{ summary.text(item.brief.applicationsClosedAt|dateformat) }}
        {{ summary.text("Draft") }}
        {% with url =
            url_for('.check_brief_response_answers', brief_id=item.briefId, brief_response_id=item.id) if item.essentialRequirementsMet else
            url_for('.start_brief_response', brief_id=item.briefId)
        %}
            {% call summary.field(action=True) %}
                {% if item.brief.status == 'live' %}
                    <a class="govuk-link" href="{{ url }}">Complete your application</a>
                {% else %}
                    <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family=item.brief.framework.family, brief_id=item.briefId) }}">Applications closed</a>
                {% endif %}
            {% endcall %}
        {% endwith %}
    {% endcall %}
{% endcall %}

{{ summary.heading("Applications you’ve made", id="submitted-opportunities") }}
{% call(item) summary.list_table(
    completed|sort(attribute='brief.applicationsClosedAt', reverse=True),
    caption="Completed opportunities",
    empty_message="You haven’t applied to any opportunities",
    field_headings=[
        "Application",
        "Deadline",
        "Status",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {% call summary.field(first=True, wide=True) %}
            <a class="govuk-link" href="{{ url_for('.check_brief_response_answers', brief_id=item.briefId, brief_response_id=item.id) }}">{{ item.brief.title }}</a>
        {% endcall %}
        {{ summary.text(item.brief.applicationsClosedAt|dateformat) }}
        {% if item.brief.status == "cancelled" %}
            {{ summary.text('Opportunity cancelled') }}
        {% elif item.brief.status == "unsuccessful" %}
            {{ summary.text('Not won') }}
        {% elif item.brief.status == "withdrawn" %}
            {{ summary.text('Opportunity withdrawn') }}
        {% elif item.brief.status == "closed" or item.brief.status == "live" %}
            {{ summary.text('Submitted') }}
        {% elif item.status == "awarded" %}
            {{ summary.text('Won') }}
        {% elif item.brief.status == "awarded" %}
            {{ summary.text('Not won') }}
        {% endif %}
    {% endcall %}
{% endcall %}

{% endblock %}
