{% extends "_base_page.html" %}

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "digitalmarketplace/components/list-input/macro.njk" import dmListInput %}

{% set page_name = question.question %}

{% block mainContent %}

  {% if question.type == 'multiquestion' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ question.question }}
      </h1>
    </div>
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ request.path }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ render_question(question, service_data, errors) }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% block save_button %}{% endblock %}
      </div>
    </div>

  </form>
{% endblock %}
