{% for section in response_content.summary(brief_response) %}

  {# Don't have a table for nice-to-have requirements if none have been given #}
  {% if not (section.id == 'your-nice-to-have-skills-and-experience' and not brief['niceToHaveRequirements']|length) %}
    {# Use a govukTable for evidence questions, since they have defined columns. Otherwise use a govukSummaryList. #}
    {# essentialRequirementsMet won't necessarily be in brief_response in legacy (DOS 1) flow TODO: remove essentialRequirementsMet from conditional #}
    {% if section.id in ("your-nice-to-have-skills-and-experience", "your-essential-skills-and-experience") and ('essentialRequirementsMet' in brief_response) %}
      {% set top_edit_link %}
        {% if show_edit_links %}
          <a 
            href="{{url_for('.edit_single_question', brief_id=brief.id, brief_response_id=brief_response.id, question_id=section.questions[0].id)}}"
            data-analytics="trackEvent"
            data-analytics-category="internal-link"
            data-analytics_action="Edit Supplier Application"
            data-analytics_label="{{brief_response.status}}"
          >Edit
          <span class="govuk-visually-hidden">{{section.name}}</span>
          </a>
        {% endif %}
      {% endset %}

      {% set followup_questions_already_displayed = [] %}

      {% set ns = namespace(rows = []) %}
      {% for question in section.questions %}
        {% for subquestion in question.questions %}
          {% if subquestion.type == "boolean" %}
            {% if subquestion._data['followup'] is defined %}
              {% for followup_question in subquestion._data['followup'] %}
                {% set followup_questions_already_displayed = followup_questions_already_displayed.extend([followup_question]) %}
                  {% set row = ns.rows.append(
                    [
                      {"text": subquestion.label, "classes": "govuk-!-width-one-third"},
                      {"text": section.unformat_data(brief_response)[followup_question] | preserve_line_breaks},
                    ] + ([
                      {"text": ""},
                    ] if show_edit_links else [])
                  )%}
              {% endfor %}
            {% endif %}
          {% else %}
            {% if subquestion.id not in followup_questions_already_displayed %}
              {% set row = ns.rows.append(
                [
                  {"text": subquestion.label, "classes": "govuk-!-width-one-third"},
                  {"text": question.unformat_data(brief_response).get(subquestion.id) | preserve_line_breaks},
                ] + ([
                  {"text": ""},
                ] if show_edit_links else [])
              )%}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {{govukTable({
        "caption": section.name,
        "captionClasses": "govuk-heading-m",
        "head": [
          {"text": "Requirement"},
          {"text": "Evidence"},
          {"html": top_edit_link, "classes": "dm-table-head-link"}
        ],
        "rows": ns.rows
      })}}

    {% else %}
      {% set ns = namespace(rows = []) %}
      {% for question in section.questions %}
        {% if show_edit_links %}
          {% set row = ns.rows.append(
            {
              "key": {"text": question.label, "classes": "govuk-!-width-one-third"},
              "value": {"text": question.value},
              "actions": {
                "items": [
                  {
                    "href": url_for(".edit_single_question", brief_id=brief.id, brief_response_id=brief_response.id, question_id=question.id),
                    "text": "Edit",
                    "visuallyHiddenText": question.label,
                    "attributes": {
                      "data-analytics": "trackEvent",
                      "data-analytics-category": "internal-link",
                      "data-analytics_action": "Edit Supplier Application",
                      "data-analytics_label": brief_response["status"]
                    }
                  }
                ]
              }
            }
          )%}
        {% else %}
          {% set row = ns.rows.append(
            {
              "key": {"text": question.label, "classes": "govuk-!-width-one-third"},
              "value": {"text": question.value}
            }
          )%}
        {% endif%}
      {% endfor %}

      <h2 class="govuk-heading-m">{{ section.name }}</h2>
      {{ govukSummaryList({
        "classes": "app-govuk-summary-list",
        "rows": ns.rows
      })}}
    {% endif %}

  {% endif %}

{% endfor %}
