{% extends "_base_page.html" %}

{% block pageTitle %}
  Your response to ‘{{ brief.title }}’ - Digital Marketplace
{% endblock %}

{% block breadcrumb %}

  {# user supplied strings in the govukBreadcrumbs parameters need to be escaped by a jinja filter #}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for(".opportunities_dashboard", framework_slug=brief.frameworkSlug),
        "text": "Your {} opportunities".format(brief.frameworkName)
      },
      {
        "text": "Responses to ‘{}’ submitted".format(brief.title|e)
      },
    ]
  }) }}

{% endblock %}

{% block main_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="dmspeak">
        <h1 class="govuk-heading-l">What happens next<h1>

        <h2 class="heading-xmedium">Shortlist</h2>

        <p class="govuk-body">When the opportunity closes, the buyer will score your evidence. If you’re one of the top {{ brief.get('numberOfSuppliers') }} suppliers, you'll go through to the evaluation stage.</p>
        <p class="govuk-body">The buyer will tell you if you're not successful.</p>

        <h2 class="heading-xmedium">Evaluation</h2>

        <div class="explanation-list">
          <p class="govuk-body-l">At the evaluation stage, the buyer will ask you to provide:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
            {% if brief.lotSlug == "digital-specialists" %}
              evidence of the specialist’s skills and experience
            {% else %}
              evidence of your skills and experience
            {% endif %}
            </li>
            {% if brief.lotSlug != "digital-specialists" %}
            <li>your proposal</li>
            {% endif %}
          </ul>
        </div>
        <div class="explanation-list">
          <p class="govuk-body-l">The buyer will use the assessment methods listed in their requirements to evaluate your evidence. They’ll use:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for eval_type in brief_summary.get_question('evaluationType').value %}
              <li>{{ 'an' if eval_type == 'Interview' else 'a' }} {{ eval_type|lower }}</li>
            {% endfor %}
          </ul>
        </div>
        <p class="govuk-body">
          Your evidence must describe the skills and experience of the {{ 'person' if brief.lotSlug == "digital-specialists" else 'people' }} who’ll be working on the project.
        </p>
        <p class="govuk-body">
          The buyer will score all suppliers who reached the evaluation stage using the weightings they published with their requirements. They’ll provide feedback if you’re unsuccessful.
        </p>
      </div>

  </div>
</div>

  {%
    with
      url = url_for(".opportunities_dashboard", framework_slug=brief.frameworkSlug),
      text = "Your {} opportunities".format(brief.frameworkName)
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
