{% extends "_base_page.html" %}

{% block page_title %}Your response to ‘{{ brief.title }}’ - Digital Marketplace{% endblock %}

{% block breadcrumb %}

  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for("external.supplier_dashboard"),
        "label": "Your account"
      },
      {
        "link": url_for(".opportunities_dashboard", framework_slug=brief.frameworkSlug),
        "label": "Your {} opportunities".format(brief.frameworkName)
      },
      {
        "link": url_for("external.get_brief_by_id", framework_family=brief.framework.family, brief_id=brief.id),
        "label": "{}".format(brief.title)
      },
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-l">
      {% if brief_response.status == 'draft' %}
        Check and submit your answers
      {% else %}
        Your application for ‘{{ brief.title }}’
      {% endif %}
    </h1>

    <div class="dmspeak">
      {% if brief_response.status != 'draft' %}
      <p>
        <a href="{{ url_for('external.get_brief_by_id', framework_family='digital-outcomes-and-specialists', brief_id=brief.id) }}">View the opportunity{{ ' and its outcome' if brief.status in ["awarded", "cancelled", "unsuccessful"] }}</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-whole">
    {% with show_edit_links = (brief.status == 'live' and brief_response.status in ['draft', 'submitted']) %}
      {% include 'briefs/_brief_response_data.html' %}
    {% endwith %}
  </div>
</div>

<p class="padding-bottom-small">&nbsp;</p>

<div class="grid-row">
    <div class="column-two-thirds">
      {% if brief_response.status == 'draft' and brief.status == 'live' %}
        <form action="{{ url_for('.check_brief_response_answers', brief_id=brief.id, brief_response_id=brief_response.id) }}" method="post">
          <p>Once you submit you can update your application until {{ brief.applicationsClosedAt|utcdatetimeformat }}.</p>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {%
            with
            label="Submit application",
            type="save"
          %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
      {% else %}
          {%
            with
              url = url_for(".opportunities_dashboard", framework_slug=brief.frameworkSlug),
              text = "Your {} opportunities".format(brief.frameworkName)
          %}
            {% include "toolkit/secondary-action-link.html" %}
          {% endwith %}
      {% endif %}
    </div>
  </div>

  {% endblock %}
