{% extends "_base_page.html" %}

{% block pageTitle %}
  {% if brief_response.status == 'draft' %}
    Check and submit your answers - Digital Marketplace
  {% else %}
    Your application for ‘{{ brief.title }}’ - Digital Marketplace
  {% endif %}
{% endblock %}

{% block breadcrumb %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account"
      },
      {
        "href": url_for(".opportunities_dashboard", framework_slug=brief.frameworkSlug),
        "text": "Your {} opportunities".format(brief.frameworkName)
      },
      {
        "href": url_for("external.get_brief_by_id", framework_family=brief.framework.family, brief_id=brief.id),
        "text": "{}".format(brief.title)
      },
      {
        "text": ("Check your answers" if brief_response.status == "draft"
                 else "Your application")
      },
    ]
  }) }}

{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {% if brief_response.status == 'draft' %}
        Check and submit your answers
      {% else %}
        Your application for ‘{{ brief.title }}’
      {% endif %}
    </h1>

    {% if brief_response.status != 'draft' %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family='digital-outcomes-and-specialists', brief_id=brief.id) }}">View the opportunity{{ ' and its outcome' if brief.status in ["awarded", "cancelled", "unsuccessful"] }}</a>
    </p>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% with show_edit_links = (brief.status == 'live' and brief_response.status in ['draft', 'submitted']) %}
      {% include 'briefs/_brief_response_data.html' %}
    {% endwith %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if brief_response.status == 'draft' and brief.status == 'live' %}
      <form action="{{ url_for('.check_brief_response_answers', brief_id=brief.id, brief_response_id=brief_response.id) }}" method="post">
        <p class="govuk-body">Once you submit you can update your application until {{ brief.applicationsClosedAt|utcdatetimeformat }}.</p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ govukButton({"text": "Submit application"}) }}
      </form>
    {% else %}
      <a
        class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-6 govuk-!-display-inline-block"
        href="{{ url_for('.opportunities_dashboard', framework_slug=brief.frameworkSlug) }}"
      >
        Return to your opportunities
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}
