{% extends "_base_page.html" %}

{% block pageTitle %}
  Ask a question about ‘{{ brief.title }}’ – Digital Marketplace
{% endblock %}

{% block breadcrumb %}

  {# user supplied strings in the govukBreadcrumbs parameters need to be escaped by a jinja filter #}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace",
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account",
      },
      {
        "text": "Ask a question about ‘{}’".format(brief.title|e)
      },
    ]
  }) }}

{% endblock %}

{% block mainContent %}

{% with lede = "There was a problem with your submitted question" %}
  {% include "toolkit/forms/validation.html" %}
{% endwith %}

<div class="single-question-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ form.clarification_question.question }}</h1>

      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.clarification_question }}

        {{ govukButton({"text": "Ask question"}) }}
      </form>

      <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">Return to {{ brief.title }}</a>
    </div>
  </div>
</div>
{% endblock %}
