{% extends "briefs/_base_edit_question_page.html" %}

{% block breadcrumb %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace"
      },
      {
        "href": url_for('external.list_opportunities', framework_family=brief.framework.family),
        "text": "Supplier opportunities"
      },
      {
        "href": url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id),
        "text": brief.title
      },
      {
        "text": question.question
      },
    ]
  }) }}

{% endblock %}

{% block save_button %}
  {{ govukButton({"text": "Save and continue"}) }}
  {% if previous_question_url %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ previous_question_url }}">Back to previous page</a>
    </p>
  {% endif %}
{% endblock %}
