{% extends "briefs/_base_edit_question_page.html" %}

{% block breadcrumb %}

  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for('external.list_opportunities', framework_family=brief.framework.family),
        "label": "Supplier opportunities"
      },
      {
        "link": url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id),
        "label": brief.title
      },
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  {%
    with
    label="Save and continue",
    type="save"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  {% if previous_question_url %}
    <a href="{{ previous_question_url }}">Back to previous page</a>
  {% endif %}
{% endblock %}
