{% extends "_base_page.html" %}

{% block pageTitle %}
  ‘{{ brief.title }}’ question and answer session details – Digital Marketplace
{% endblock %}

{% block breadcrumb %}

  {# user supplied strings in the govukBreadcrumbs parameters need to be escaped by a jinja filter #}
  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace",
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account",
      },
      {
        "text": "‘{}’ question and answer session details".format(brief.title|e)
      },
    ]
  }) }}

{% endblock %}

{% block mainContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">‘{{ brief.title }}’ question and answer session details</h1>

    <div class="padding-bottom-small">
      <p class="govuk-body">
        {{ brief.questionAndAnswerSessionDetails }}
      </p>
    </div>

    <a class="govuk-link" href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">Return to {{ brief.title }}</a>
  </div>
</div>
{% endblock %}
