{% extends "_base_page.html" %}

{% block page_title %}‘{{ brief.title }}’ question and answer session details – Digital Marketplace{% endblock %}

{% block breadcrumb %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "href": "/",
        "text": "Digital Marketplace",
      },
      {
        "href": url_for("external.supplier_dashboard"),
        "text": "Your account",
      },
      {
        "text": "‘{}’ question and answer session details".format(brief.title|e)
      },
    ]
  }) }}

{% endblock %}

{% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-l">‘{{ brief.title }}’ question and answer session details</h1>

    <div class="padding-bottom-small">
      <p>
        {{ brief.questionAndAnswerSessionDetails }}
      </p>
    </div>

    <a href="{{ url_for('external.get_brief_by_id', framework_family=brief.framework.family, brief_id=brief.id) }}">Return to {{ brief.title }}</a>
  </div>
</div>
{% endblock %}
